.nav{
  margin: 0 auto;
  display: flex;
  
  align-items: center;
  width: 80%;
  height: 6vh;
  min-height: 40px;
  justify-content: space-between;
  background-color: var(--color-blue-1)
}

.nav-list{
  list-style: none;
  display: flex;
 width: 100%;
 justify-content: space-around;
 align-items: center;
  
  
}
.nav-list li{
  
 font-size: 150%;

 
}
.nav-list li a{
  
  color: var(--color-white);
  font-size: 150%;
  text-decoration: none;
  
}

