*{
    margin: 0;
    padding: 0;

}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: 'Rubik', sans-serif;
}
